$bg: #0c0a20;
$bg-dark: #090819;
$bg-light: #1f1147;
$fg: #f2f3f7;
$gray: #546a90;
$magenta: #ff2afc;
$violet: #df85ff;

.bar {
  color: $fg;
  background-color: $bg;
  border-radius: 14px;
}

.module {
  background-color: $bg-light;
  border-radius: 14px;
  padding-left: 14px;
  padding-right: 14px;
}

$empty: $gray;
$occupied: $fg;
$current: $violet; // FIXME: not enough contrast with color
.workspace {
  color: $empty;

  &-current {
    background-color: $current;
    &-occupied {
      background-color: $current;
      color: $occupied;
    }
  }

  &-occupied {
    color: $occupied;
  }
}

.cpu {
  color: $violet; // TODO: make it yellow

  &-icon {
    font-size: 10;
    margin-left: 6px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

.battery {
  color: $violet; // TODO: make it blue

  &-icon {
    margin-left: 8px;
    margin-right: 7px;
    margin-top: 9px;
    margin-bottom: 8px;
  }
}
