$bg: #0c0a20;
$bg-dark: #090819;
$bg-light: #1f1147;
$fg: #f2f3f7;
$gray: #546a90;
$magenta: #ff2afc;
$violet: #df85ff;

.bar {
  color: $fg;
  background-color: $bg;
  border-radius: 14px;
}

.module {
  background-color: $bg-light;
  border-radius: 14px;
  padding-left: 14px;
  padding-right: 14px;
}

$empty: $gray;
$occupied: $fg;
$current: $violet;
.workspace {
  color: $empty;

  &-current {
    background-color: $current;
    &-occupied {
      background-color: $current;
      color: $occupied;
    }
  }

  &-occupied {
    color: $occupied;
  }
}

.battery {
  color: $violet; // make it blue

  &-icon {
    margin: 8px;
  }
}
