[user]
	email = lord_valen@protonmail.com
	name = Lord-Valen
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[commit]
    gpgSign = true
[merge]
	conflictStyle = zdiff3
[init]
	defaultBranch = main
